.top-bar {
  position: absolute;
  top: 0%;
  left: 20%;
  width: 80%;
  height: 5%;
  display: flex;
  justify-content: end;
  background-color: black;
  color: white;

  button {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: grey;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  &.user {
    img {
      cursor: pointer;
      margin-right: 10px;
    }

    .dropdown-items {
      background-color: black;
      position: absolute;
      display: flex;
      flex-direction: column;
      z-index: 999;
      top: 100%;
      opacity: 0;
    }
  }
}
