.addToPlaylist {
  background-color: black;
  .remove {
    margin-left: 5px;
    padding-top: 5px;
    color: white;
    &:hover {
      background-color: grey;
      cursor: pointer;
    }
  }
  .playlists {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    margin-left: 5px;
    &:hover {
      background-color: grey;
      cursor: pointer;
    }
  }
}
